@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    @font-face {
        font-family: 'iran-yekan-normal';
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/iranyekan/Iranyekan.ttf) format('truetype');
    }
    @font-face {
        font-family: 'iran-yekan-bold';
        font-weight: 700;
        font-display: swap;
        src: url(/fonts/iranyekan/Iranyekan-bold.ttf) format('truetype');
    }
    @font-face {
        font-family: 'iran-yekan-number';
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/iranyekannumber/iranyekanwebregular.ttf) format('truetype');
    }
}

:root {
    --color1: #F9FDFF;
    --color2: #FFFFFF;
    --color3: #F7F2F0;
    --color4: #DDC4B8;
    --color5: #BC8971;
    --color6: rgba(0, 0, 0, 0.43);
    --color7: #f1f4f4;
    --color8: #F1F3F4;
    --shadow: 0 0 30px 0px rgb(0 0 0 / 5%);
    --shadow2: 0 0 20px -8px #bc8971;
    --shadow3: 0 0 25px -5px #bc8971;
    --icon : #758694;
    --svg : #cce8ff;
}

body {
    direction: rtl;
}

.my-container {
    width: 68%;
}

.my-shadow {
    box-shadow: var(--shadow);
}

.my-shadow2 {
    box-shadow: var(--shadow2);
}

.my-hover {
    border-radius: 9px;
    transition: all 300ms;
}

.my-hover:hover {
    background-color: var(--color3);
    color: var(--color5);
}

.my-op {
    opacity: 0.2;
}
.owl-carousel .owl-item img{
    width: 90px;
}
.owl-carousel .owl-stage{
    height: 220px;
    display: flex;
    align-items: center;
}
.owl-carousel.owl-rtl .owl-item{
    margin-right: 5px;
}
.one-line{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 310px;
}
.my-hover2{
    transition: all 300ms;
}
.my-hover2:hover{
    box-shadow: var(--shadow3);
}
@layer components {
    .cat_btn.active {
        color: var(--color5);
        @apply font-[iran-yekan-bold]
    }
}
.instagram{
    background-image: linear-gradient(212deg, #8339B5, #ED4A72);
}
.telegram{
    background-image: linear-gradient(212deg, #37AEF3, #6dc6fa);
}
.page_active{
    background-color: var(--color5);
    color: white;
}
.h-vh{
    height: 100vh;
}
.pos-hidden-top{
    top: -100%;
}
.category-map:last-child > span[class^="icon"]{
    display: none;
}
.hover\:scale-101:hover{
    scale: 1.015;
}